In [ ]:
#IMPORT PANDAS LIBRARY

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Age-Income-Dataset.csv')
df

           Age  Income
0        Young   25000
1   Middle Age   54000
2          Old   60000
3        Young   15000
4        Young   45000
5        Young   65000
6        Young   70000
7        Young   30000
8   Middle Age   27000
9        Young   23000
10       Young   48000
11         Old   52000
12       Young   33000
13         Old   80000
14         Old   75000
15         Old   35000
16  Middle Age   29000
17  Middle Age   57000
18         Old   43000
19  Middle Age   56000
20         Old   63000
21         Old   32000
22         Old   45000
23         Old   89000
24  Middle Age   90000
25  Middle Age   93000
26       Young   80000
27       Young   87000
28       Young   38000
29       Young   23000
30  Middle Age   38900
31  Middle Age   53200
32         Old   43800
33  Middle Age   25600
34  Middle Age   65400
35         Old   76800
36         Old   89700
37         Old   41800
38       Young   31900
39         Old   25600
40  Middle Age   45700
41         Old   35600
42       Young   54300
43  Middle Age   65400
44         Old   67800
45         Old   24500
46  Middle Age   34900
47         Old   45300
48       Young   68400
49  Middle Age   51700

In [ ]:
#CALCULATE MEAN WITHOUT USING LABRARY

In [3]:
def calculate_mean(numbers):
    total = sum(numbers)  
    count = len(numbers)  
    mean = total / count  
    return mean

In [4]:
calculate_mean(df['Income'])

50966.0

In [ ]:
#CALCULATE MEAN WITH THE HELP OF PANDAS LIBRARY

In [22]:
Income_df = pd.Series(df['Income'])

In [23]:
mean_income = Income_df.mean()
print(mean_income)

50966.0

In [ ]:
#CALCULATE MEDIAN WITHOUT USING LABRARY

In [36]:
def fun_median(n_num):
    new_num = sorted(n_num)  
    n = len(new_num)
    if n % 2 == 0:
        median1 = new_num[n // 2]
        median2 = new_num[n // 2 - 1]
        median = (median1 + median2) / 2
    else:
        median = new_num[n // 2]

    return median

In [37]:
fun_median(df['Income'])

46850.0

In [ ]:
#CALCULATE MEDIAN WITH THE HELP OF STATISTIC LIBRARY

In [26]:
import statistics

In [27]:
income_median = statistics.median(df['Income'])
print(income_median)

46850.0

In [ ]:
#CALCULATE MODE WITHOUT USING LABRARY

In [7]:
def find_mode(income_arr):
    counts = {}
    for num in income_arr:
        if num in counts:
            counts[num] += 1
        else:
            counts[num] = 1
    
    mode = None
    max_count = 0
    for num, count in counts.items():
        if count > max_count:
            max_count = count
            mode = num
    
    return mode

In [8]:
find_mode(df['Income'])

45000

In [ ]:
#CALCULATE MODE WITH THE HELP OF STATISTIC LIBRARY

In [39]:
income_mode = statistics.mode(df['Income'])
print(income_mode)

45000

In [ ]:
#CALCULATE MIN MAX WITHOUT USING LABRARY

In [9]:
def find_min_max(arr):
    
    if len(arr) == 0:
        return None, None  
    min_element = arr[0]
    max_element = arr[0]   
    for num in arr:
        if num < min_element:
            min_element = num
        if num > max_element:
            max_element = num
            
    return min_element, max_element

In [10]:
find_min_max(df['Income'])

(15000, 93000)

In [ ]:
#CALCULATE MIN MAX WITH USING LABRARY

In [41]:
min_income = min(df['Income'])
print(min_income)

15000

In [43]:
max_income = max(df['Income'])
print(max_income)

93000

In [ ]:
#CALCULATE STANDARD DEVIATION WITHOUT USING LABRARY

In [45]:
def standard_deviation(data):
    n = len(data)
    mean = sum(data) / n
    squared_diff = [(x - mean) ** 2 for x in data] 
    variance = sum(squared_diff) / n  
    std_dev = variance ** 0.5
    return std_dev

In [46]:
standard_deviation(df['Income'])

20884.6509187968

In [47]:
#CALCULATE STANDARD DEVIATION WITH USING LABRARY

In [48]:
statistics.stdev(df['Income'])

21096.683267707253

In [ ]:
#PROVIDE SUMMARY STATISTICS OF INCOME GROUP BY THEIR AGE.

In [13]:
summary_stats = df.groupby('Age')['Income'].describe()

In [33]:
summary_stats

,count,mean,std,min,25%,50%,75%,max
Age,,,,,,,,
Middle Age,15.0,52453.333333,20497.800114,25600.0,36900.0,53200.0,61200.0,93000.0
Old,19.0,53942.105263,20868.165968,24500.0,38700.0,45300.0,71400.0,89700.0
Young,16.0,46037.500000,22356.859499,15000.0,28750.0,41500.0,65850.0,87000.0

In [ ]:
#CREATE A LIST THAT CONTAIN NUMERIC VALUE FOR EACH RESPONSE TO THE CATEGORICAL VALUE

In [16]:
def categorical_variable(categories):
    unique_categories = list(set(categories))
    encoded_values = [unique_categories.index(category) for category in categories]
    return encoded_values

In [18]:
categorical_variable(df['Age'])

[0,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 1,
 0,
 1,
 1,
 1,
 2,
 2,
 1,
 2,
 1,
 1,
 1,
 1,
 2,
 2,
 0,
 0,
 0,
 0,
 2,
 2,
 1,
 2,
 2,
 1,
 1,
 1,
 0,
 1,
 2,
 1,
 0,
 2,
 1,
 1,
 2,
 1,
 0,
 2]