In [3]:
##importing pandas
import pandas as pd

In [4]:
##reading csv file
df1 = pd.read_csv('dirtydata.csv')
print(df1)

    Duration          Date  Pulse  Maxpulse  Calories
0         60  '2020/12/01'    110       130     409.1
1         60  '2020/12/02'    117       145     479.0
2         60  '2020/12/03'    103       135     340.0
3         45  '2020/12/04'    109       175     282.4
4         45  '2020/12/05'    117       148     406.0
5         60  '2020/12/06'    102       127    -300.0
6         60  '2020/12/07'    110       136     374.0
7        450  '2020/12/08'    104       134     253.3
8         30  '2020/12/09'    109       133     195.1
9         60  '2020/12/10'     98       124     269.0
10        60  '2020/12/11'    103       147     329.3
11        60  '2020/12/12'    100       120     250.7
12        60  '2020/12/12'    100       120     250.7
13        60  '2020/12/13'    106       128     345.3
14        60  '2020/12/14'    104       132     379.3
15        60  '2020/12/15'     98       123     275.0
16        60  '2020/12/16'     98       120     215.2
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112       NaN
19        60  '2020/12/19'    103       123     323.0
20        45  '2020/12/20'     97       125     243.0
21        60  '2020/12/21'    108       131     364.2
22        45           NaN    100       119     282.0
23        60  '2020/12/23'    130       101     300.0
24        45  '2020/12/24'    105       132     246.0
25        60  '2020/12/25'    102       126     334.5
26        60      20201226    100       120     250.0
27        60  '2020/12/27'     92       118     241.0
28        60  '2020/12/28'    103       132       NaN
29        60  '2020/12/29'    100       132    -280.0
30        60  '2020/12/30'    102       129     380.3
31        60  '2020/12/31'     92       115     243.0

In [5]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

In [6]:
##Checking null values
print(df1.isnull())

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False      True
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False      True
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [7]:
#checking count of null values for each attribute
print(df1.isnull().sum())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [8]:
##Getting mean for Calories
x = df1['Calories'].mean()
print(x)

266.0133333333333

In [9]:
##Filling null place
df1['Calories'].fillna(x,inplace = True)

/tmp/ipykernel_12046/575704058.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df1['Calories'].fillna(x,inplace = True)

In [10]:
print(df1)

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127 -300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
22        45           NaN    100       119  282.000000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132 -280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [11]:
##checking null values
print(df1.isnull())

    Duration   Date  Pulse  Maxpulse  Calories
0      False  False  False     False     False
1      False  False  False     False     False
2      False  False  False     False     False
3      False  False  False     False     False
4      False  False  False     False     False
5      False  False  False     False     False
6      False  False  False     False     False
7      False  False  False     False     False
8      False  False  False     False     False
9      False  False  False     False     False
10     False  False  False     False     False
11     False  False  False     False     False
12     False  False  False     False     False
13     False  False  False     False     False
14     False  False  False     False     False
15     False  False  False     False     False
16     False  False  False     False     False
17     False  False  False     False     False
18     False  False  False     False     False
19     False  False  False     False     False
20     False  False  False     False     False
21     False  False  False     False     False
22     False   True  False     False     False
23     False  False  False     False     False
24     False  False  False     False     False
25     False  False  False     False     False
26     False  False  False     False     False
27     False  False  False     False     False
28     False  False  False     False     False
29     False  False  False     False     False
30     False  False  False     False     False
31     False  False  False     False     False

In [12]:
##Getting absolute value
df1['Calories']=df1['Calories'].abs()
print(df1)

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
22        45           NaN    100       119  282.000000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [13]:
#drop nan in date field
df1.dropna(subset='Date',inplace=True)

In [14]:
print(df1)

    Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000

In [15]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  31 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.5+ KB
None

In [16]:
print(df1.describe)

<bound method NDFrame.describe of     Duration          Date  Pulse  Maxpulse    Calories
0         60  '2020/12/01'    110       130  409.100000
1         60  '2020/12/02'    117       145  479.000000
2         60  '2020/12/03'    103       135  340.000000
3         45  '2020/12/04'    109       175  282.400000
4         45  '2020/12/05'    117       148  406.000000
5         60  '2020/12/06'    102       127  300.000000
6         60  '2020/12/07'    110       136  374.000000
7        450  '2020/12/08'    104       134  253.300000
8         30  '2020/12/09'    109       133  195.100000
9         60  '2020/12/10'     98       124  269.000000
10        60  '2020/12/11'    103       147  329.300000
11        60  '2020/12/12'    100       120  250.700000
12        60  '2020/12/12'    100       120  250.700000
13        60  '2020/12/13'    106       128  345.300000
14        60  '2020/12/14'    104       132  379.300000
15        60  '2020/12/15'     98       123  275.000000
16        60  '2020/12/16'     98       120  215.200000
17        60  '2020/12/17'    100       120  300.000000
18        45  '2020/12/18'     90       112  266.013333
19        60  '2020/12/19'    103       123  323.000000
20        45  '2020/12/20'     97       125  243.000000
21        60  '2020/12/21'    108       131  364.200000
23        60  '2020/12/23'    130       101  300.000000
24        45  '2020/12/24'    105       132  246.000000
25        60  '2020/12/25'    102       126  334.500000
26        60      20201226    100       120  250.000000
27        60  '2020/12/27'     92       118  241.000000
28        60  '2020/12/28'    103       132  266.013333
29        60  '2020/12/29'    100       132  280.000000
30        60  '2020/12/30'    102       129  380.300000
31        60  '2020/12/31'     92       115  243.000000>

In [17]:
df1['Date'] = pd.to_datetime(df1['Date'],format='mixed')
#converting Date int date-time format

In [18]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  31 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.5 KB
None

In [19]:
df1['Calories'] = df1['Calories'].astype(int)
#converting calories into integer

In [20]:
print(df1.info())

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  31 non-null     int64
dtypes: datetime64[ns](1), int64(4)
memory usage: 1.5 KB
None

In [21]:
print(df1)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7        450 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [22]:
df1.loc[7,'Duration'] = 45
#changing duration 450 to 45

In [23]:
print(df1)

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130       409
1         60 2020-12-02    117       145       479
2         60 2020-12-03    103       135       340
3         45 2020-12-04    109       175       282
4         45 2020-12-05    117       148       406
5         60 2020-12-06    102       127       300
6         60 2020-12-07    110       136       374
7         45 2020-12-08    104       134       253
8         30 2020-12-09    109       133       195
9         60 2020-12-10     98       124       269
10        60 2020-12-11    103       147       329
11        60 2020-12-12    100       120       250
12        60 2020-12-12    100       120       250
13        60 2020-12-13    106       128       345
14        60 2020-12-14    104       132       379
15        60 2020-12-15     98       123       275
16        60 2020-12-16     98       120       215
17        60 2020-12-17    100       120       300
18        45 2020-12-18     90       112       266
19        60 2020-12-19    103       123       323
20        45 2020-12-20     97       125       243
21        60 2020-12-21    108       131       364
23        60 2020-12-23    130       101       300
24        45 2020-12-24    105       132       246
25        60 2020-12-25    102       126       334
26        60 2020-12-26    100       120       250
27        60 2020-12-27     92       118       241
28        60 2020-12-28    103       132       266
29        60 2020-12-29    100       132       280
30        60 2020-12-30    102       129       380
31        60 2020-12-31     92       115       243

In [24]:
#checking duplicates
df1.duplicated().sum()

1

In [25]:
df1.drop_duplicates(inplace=True)
#dropping duplictes value

In [26]:
df1.duplicated().sum()

0

In [27]:
##Reading nba.csv file
df2 = pd.read_csv('nba.csv')
print(df2)

              Name            Team  Number Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0
..             ...             ...     ...      ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       PG  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       PG  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0        C  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0        C  26.0    7-0   231.0
457            NaN             NaN     NaN      NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [28]:
print(df2.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 458 entries, 0 to 457
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      457 non-null    object
 1   Team      457 non-null    object
 2   Number    457 non-null    float64
 3   Position  457 non-null    object
 4   Age       457 non-null    float64
 5   Height    457 non-null    object
 6   Weight    457 non-null    float64
 7   College   373 non-null    object
 8   Salary    446 non-null    float64
dtypes: float64(4), object(5)
memory usage: 32.3+ KB
None

In [29]:
print(df2.describe())

           Number         Age      Weight        Salary
count  457.000000  457.000000  457.000000  4.460000e+02
mean    17.678337   26.938731  221.522976  4.842684e+06
std     15.966090    4.404016   26.368343  5.229238e+06
min      0.000000   19.000000  161.000000  3.088800e+04
25%      5.000000   24.000000  200.000000  1.044792e+06
50%     13.000000   26.000000  220.000000  2.839073e+06
75%     25.000000   30.000000  240.000000  6.500000e+06
max     99.000000   40.000000  307.000000  2.500000e+07

In [30]:
##printing top 5 rows
print(df2.head())

            Name            Team  Number Position   Age Height  Weight  \
0  Avery Bradley  Boston Celtics     0.0       PG  25.0    6-2   180.0
1    Jae Crowder  Boston Celtics    99.0       SF  25.0    6-6   235.0
2   John Holland  Boston Celtics    30.0       SG  27.0    6-5   205.0
3    R.J. Hunter  Boston Celtics    28.0       SG  22.0    6-5   185.0
4  Jonas Jerebko  Boston Celtics     8.0       PF  29.0   6-10   231.0

             College     Salary
0              Texas  7730337.0
1          Marquette  6796117.0
2  Boston University        NaN
3      Georgia State  1148640.0
4                NaN  5000000.0

In [31]:
##Getting null values
print(df1.isnull().sum())

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [32]:
##printing unique value
print(df2['Position'].unique())

['PG' 'SF' 'SG' 'PF' 'C' nan]

In [33]:
##converting categorical data into numerical data
df2['Position'].replace(['PG','SF','SG','PF','C'],[0,1,2,3,4],inplace=True)
print(df2['Position'].unique())

[ 0.  1.  2.  3.  4. nan]

/tmp/ipykernel_12046/1665399696.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df2['Position'].replace(['PG','SF','SG','PF','C'],[0,1,2,3,4],inplace=True)
/tmp/ipykernel_12046/1665399696.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2['Position'].replace(['PG','SF','SG','PF','C'],[0,1,2,3,4],inplace=True)

In [34]:
##Code encoding
from sklearn import preprocessing

In [35]:
##Label Encoding
le = preprocessing.LabelEncoder()

In [36]:
##Copy of dataframe2
df3 = df2.copy()

In [37]:
print(df3)

              Name            Team  Number  Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       0.0  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       1.0  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       2.0  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       2.0  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       3.0  29.0   6-10   231.0
..             ...             ...     ...       ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       0.0  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       0.0  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0       4.0  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0       4.0  26.0    7-0   231.0
457            NaN             NaN     NaN       NaN   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [38]:
##Encoding position
df3['Position'] = le.fit_transform(df3['Position'])
print(df3)

              Name            Team  Number  Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0         0  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0         1  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0         2  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0         2  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0         3  29.0   6-10   231.0
..             ...             ...     ...       ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0         0  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0         0  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0         4  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0         4  26.0    7-0   231.0
457            NaN             NaN     NaN         5   NaN    NaN     NaN

               College     Salary
0                Texas  7730337.0
1            Marquette  6796117.0
2    Boston University        NaN
3        Georgia State  1148640.0
4                  NaN  5000000.0
..                 ...        ...
453             Butler  2433333.0
454                NaN   900000.0
455                NaN  2900000.0
456             Kansas   947276.0
457                NaN        NaN

[458 rows x 9 columns]

In [39]:
print(df3['Position'].unique())

[0 1 2 3 4 5]

In [40]:
##Encoding Teams
df3['Team'] = le.fit_transform(df3['Team'])
print(df3['Team'].unique())

[ 1  2 19 22 27  9 12 13 23 25  4  5  8 11 16  6 10 14 18 26  0  3 15 21
 29  7 17 20 24 28 30]

In [41]:
df2.pop('College')

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
453               Butler
454                  NaN
455                  NaN
456               Kansas
457                  NaN
Name: College, Length: 458, dtype: object

In [42]:
print(df2)

              Name            Team  Number  Position   Age Height  Weight  \
0    Avery Bradley  Boston Celtics     0.0       0.0  25.0    6-2   180.0
1      Jae Crowder  Boston Celtics    99.0       1.0  25.0    6-6   235.0
2     John Holland  Boston Celtics    30.0       2.0  27.0    6-5   205.0
3      R.J. Hunter  Boston Celtics    28.0       2.0  22.0    6-5   185.0
4    Jonas Jerebko  Boston Celtics     8.0       3.0  29.0   6-10   231.0
..             ...             ...     ...       ...   ...    ...     ...
453   Shelvin Mack       Utah Jazz     8.0       0.0  26.0    6-3   203.0
454      Raul Neto       Utah Jazz    25.0       0.0  24.0    6-1   179.0
455   Tibor Pleiss       Utah Jazz    21.0       4.0  26.0    7-3   256.0
456    Jeff Withey       Utah Jazz    24.0       4.0  26.0    7-0   231.0
457            NaN             NaN     NaN       NaN   NaN    NaN     NaN

        Salary
0    7730337.0
1    6796117.0
2          NaN
3    1148640.0
4    5000000.0
..         ...
453  2433333.0
454   900000.0
455  2900000.0
456   947276.0
457        NaN

[458 rows x 8 columns]

In [43]:
##Dropping column name College
df3.pop('College')

0                  Texas
1              Marquette
2      Boston University
3          Georgia State
4                    NaN
             ...
453               Butler
454                  NaN
455                  NaN
456               Kansas
457                  NaN
Name: College, Length: 458, dtype: object

In [44]:
##New Dataframe
print(df3)

              Name  Team  Number  Position   Age Height  Weight     Salary
0    Avery Bradley     1     0.0         0  25.0    6-2   180.0  7730337.0
1      Jae Crowder     1    99.0         1  25.0    6-6   235.0  6796117.0
2     John Holland     1    30.0         2  27.0    6-5   205.0        NaN
3      R.J. Hunter     1    28.0         2  22.0    6-5   185.0  1148640.0
4    Jonas Jerebko     1     8.0         3  29.0   6-10   231.0  5000000.0
..             ...   ...     ...       ...   ...    ...     ...        ...
453   Shelvin Mack    28     8.0         0  26.0    6-3   203.0  2433333.0
454      Raul Neto    28    25.0         0  24.0    6-1   179.0   900000.0
455   Tibor Pleiss    28    21.0         4  26.0    7-3   256.0  2900000.0
456    Jeff Withey    28    24.0         4  26.0    7-0   231.0   947276.0
457            NaN    30     NaN         5   NaN    NaN     NaN        NaN

[458 rows x 8 columns]

In [45]:
df_PG = df3[df3['Position']==0]

In [46]:
print(df_PG)

              Name  Team  Number  Position   Age Height  Weight     Salary
0    Avery Bradley     1     0.0         0  25.0    6-2   180.0  7730337.0
8     Terry Rozier     1    12.0         0  22.0    6-2   190.0  1824360.0
9     Marcus Smart     1    36.0         0  22.0    6-4   220.0  3431040.0
11   Isaiah Thomas     1     4.0         0  27.0    5-9   185.0  6912869.0
19    Jarrett Jack     2     2.0         0  32.0    6-3   200.0  6300000.0
..             ...   ...     ...       ...   ...    ...     ...        ...
440  Brian Roberts    24     2.0         0  30.0    6-1   173.0  2854940.0
443     Trey Burke    28     3.0         0  23.0    6-1   191.0  2658240.0
445     Dante Exum    28    11.0         0  20.0    6-6   190.0  3777720.0
453   Shelvin Mack    28     8.0         0  26.0    6-3   203.0  2433333.0
454      Raul Neto    28    25.0         0  24.0    6-1   179.0   900000.0

[92 rows x 8 columns]

In [47]:
print(df_PG['Salary'].isnull().sum())

4

In [48]:
a = df_PG['Salary'].mean()
print(a)

5077829.215909091

In [50]:
print(df_PG['Salary'].isnull().sum())

0

In [51]:
df_SG = df3[df3['Position']==1]
##Complete this function

In [52]:
print(df_SG)

                       Name  Team  Number  Position   Age Height  Weight  \
1               Jae Crowder     1    99.0         1  25.0    6-6   235.0
32   Thanasis Antetokounmpo    19    43.0         1  23.0    6-7   205.0
33          Carmelo Anthony    19     7.0         1  32.0    6-8   240.0
35         Cleanthony Early    19    11.0         1  25.0    6-8   210.0
42             Lance Thomas    19    42.0         1  28.0    6-8   235.0
..                      ...   ...     ...       ...   ...    ...     ...
428         Al-Farouq Aminu    24     8.0         1  25.0    6-9   215.0
432        Maurice Harkless    24     4.0         1  23.0    6-9   215.0
448          Gordon Hayward    28    20.0         1  26.0    6-8   226.0
450              Joe Ingles    28     2.0         1  28.0    6-8   226.0
451           Chris Johnson    28    23.0         1  26.0    6-6   206.0

         Salary
1     6796117.0
32      30888.0
33   22875000.0
35     845059.0
42    1636842.0
..          ...
428   8042895.0
432   2894059.0
448  15409570.0
450   2050000.0
451    981348.0

[85 rows x 8 columns]

In [53]:
b = df_SG['Salary'].mean()
print(b)

4857392.571428572

In [55]:
df_SF = df3[df3['Position']==2]
print(df_SF)

                 Name  Team  Number  Position   Age Height  Weight     Salary
2        John Holland     1    30.0         2  27.0    6-5   205.0        NaN
3         R.J. Hunter     1    28.0         2  22.0    6-5   185.0  1148640.0
12        Evan Turner     1    11.0         2  27.0    6-7   220.0  3425510.0
13        James Young     1    13.0         2  20.0    6-6   215.0  1749840.0
15   Bojan Bogdanovic     2    44.0         2  27.0    6-8   216.0  3425510.0
..                ...   ...     ...       ...   ...    ...     ...        ...
433  Gerald Henderson    24     9.0         2  28.0    6-5   215.0  6000000.0
437     C.J. McCollum    24     3.0         2  24.0    6-4   200.0  2525160.0
438      Luis Montero    24    44.0         2  23.0    6-7   185.0   525093.0
444        Alec Burks    28    10.0         2  24.0    6-6   214.0  9463484.0
449       Rodney Hood    28     5.0         2  23.0    6-8   206.0  1348440.0

[102 rows x 8 columns]

In [56]:
c = df_SF['Salary'].mean()

In [58]:
df_PF = df3[df3['Position']==3]
print(df_PF)

                 Name  Team  Number  Position   Age Height  Weight      Salary
4       Jonas Jerebko     1     8.0         3  29.0   6-10   231.0   5000000.0
5        Amir Johnson     1    90.0         3  29.0    6-9   240.0  12000000.0
6       Jordan Mickey     1    55.0         3  21.0    6-8   235.0   1170960.0
24   Chris McCullough     2     1.0         3  21.0   6-11   200.0   1140240.0
25        Willie Reed     2    33.0         3  26.0   6-10   220.0    947276.0
..                ...   ...     ...       ...   ...    ...     ...         ...
435    Meyers Leonard    24    11.0         3  24.0    7-1   245.0   3075880.0
441       Noah Vonleh    24    21.0         3  20.0    6-9   240.0   2637720.0
442     Trevor Booker    28    33.0         3  28.0    6-8   228.0   4775000.0
446    Derrick Favors    28    15.0         3  24.0   6-10   265.0  12000000.0
452        Trey Lyles    28    41.0         3  20.0   6-10   234.0   2239800.0

[100 rows x 8 columns]

In [59]:
d = df_PF['Salary'].mean()
print(d)

4562482.989690722

In [61]:
df_C = df3[df3['Position']==4]
print(df_C)

                Name  Team  Number  Position   Age Height  Weight      Salary
7       Kelly Olynyk     1    41.0         4  25.0    7-0   238.0   2165160.0
10   Jared Sullinger     1     7.0         4  24.0    6-9   260.0   2569260.0
14      Tyler Zeller     1    44.0         4  26.0    7-0   253.0   2616975.0
23       Brook Lopez     2    11.0         4  28.0    7-0   275.0  19689000.0
27        Henry Sims     2    14.0         4  26.0   6-10   248.0    947276.0
..               ...   ...     ...       ...   ...    ...     ...         ...
434      Chris Kaman    24    35.0         4  34.0    7-0   265.0   5016000.0
439    Mason Plumlee    24    24.0         4  26.0   6-11   235.0   1415520.0
447      Rudy Gobert    28    27.0         4  23.0    7-1   245.0   1175880.0
455     Tibor Pleiss    28    21.0         4  26.0    7-3   256.0   2900000.0
456      Jeff Withey    28    24.0         4  26.0    7-0   231.0    947276.0

[78 rows x 8 columns]

In [62]:
e = df_C['Salary'].mean()
print(e)

5967052.0

In [64]:
##Converting numerical data into categorical data
cat_Age = pd.cut(df3['Age'],bins=[19,25,30,35,41],labels=['A','B','C','D'])

In [65]:
print(df3)

              Name  Team  Number  Position   Age Height  Weight     Salary
0    Avery Bradley     1     0.0         0  25.0    6-2   180.0  7730337.0
1      Jae Crowder     1    99.0         1  25.0    6-6   235.0  6796117.0
2     John Holland     1    30.0         2  27.0    6-5   205.0        NaN
3      R.J. Hunter     1    28.0         2  22.0    6-5   185.0  1148640.0
4    Jonas Jerebko     1     8.0         3  29.0   6-10   231.0  5000000.0
..             ...   ...     ...       ...   ...    ...     ...        ...
453   Shelvin Mack    28     8.0         0  26.0    6-3   203.0  2433333.0
454      Raul Neto    28    25.0         0  24.0    6-1   179.0   900000.0
455   Tibor Pleiss    28    21.0         4  26.0    7-3   256.0  2900000.0
456    Jeff Withey    28    24.0         4  26.0    7-0   231.0   947276.0
457            NaN    30     NaN         5   NaN    NaN     NaN        NaN

[458 rows x 8 columns]

In [67]:
##concatenating different data frames to remove null values from salary
df4 = pd.concat([df_PG,df_SG,df_SF,df_PF,df_C])

In [68]:
print(df4)

              Name  Team  Number  Position   Age Height  Weight     Salary
0    Avery Bradley     1     0.0         0  25.0    6-2   180.0  7730337.0
8     Terry Rozier     1    12.0         0  22.0    6-2   190.0  1824360.0
9     Marcus Smart     1    36.0         0  22.0    6-4   220.0  3431040.0
11   Isaiah Thomas     1     4.0         0  27.0    5-9   185.0  6912869.0
19    Jarrett Jack     2     2.0         0  32.0    6-3   200.0  6300000.0
..             ...   ...     ...       ...   ...    ...     ...        ...
434    Chris Kaman    24    35.0         4  34.0    7-0   265.0  5016000.0
439  Mason Plumlee    24    24.0         4  26.0   6-11   235.0  1415520.0
447    Rudy Gobert    28    27.0         4  23.0    7-1   245.0  1175880.0
455   Tibor Pleiss    28    21.0         4  26.0    7-3   256.0  2900000.0
456    Jeff Withey    28    24.0         4  26.0    7-0   231.0   947276.0

[457 rows x 8 columns]

In [69]:
print(df4.isnull().sum())

Name        0
Team        0
Number      0
Position    0
Age         0
Height      0
Weight      0
Salary      0
dtype: int64